# (c) Cocktail
# Fichier de config de l'application RGRHUM 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

# *******************************************************************
# Pour que RGrhum puisse fonctionner, il faut choisir une instance et ajouter 
# dans les paramètres de lancement(dans le monitor) la propriété suivante :
#
# -DEVT_WOINSTANCE_START_QUARTZ=true
#
# Une seule instance doit avoir ce paramètre d'activer pour ne pas avoir 
# plusieurs ordonnanceurs en parallèle.
# *******************************************************************

APP_USE_MAIL=YES
HOST_MAIL=mailhost.cocktail.org
ADMIN_MAIL=rgrhum@cocktail.org
DOMAIN_NAME=cocktail.org

APP_ID=RGRHUM
APP_ALIAS=RGrhum
APP_TITLE=RGRHUM
APP_USE_GEDFS=NO
APP_ULR=http://www.cocktail.org

#Config SAUT + Modeles
#SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
#(du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/SAUT.woa/wa/)
SAUT_URL=http://localhost:8686/cgi-bin/WebObjects/ServAut.woa/wa/
#SAUT_ID_TRANSLATION=RGRHUM:GRHUM,GRHUM:GRHUM,MANGUE:GRHUM,COCOWORK:GRHUM,GB_COUR:GRHUM
SAUT_ID_TRANSLATION=RGRHUM:AGRHUMCOT,GRHUM:AGRHUMCOT,MANGUE:AGRHUMCOT,COCOWORK:AGRHUMCOT,GB_COUR:AGRHUMCOT
NET_NO_PROXY_HOSTS=*.univ-xxxxx.fr

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
APP_USE_CAS=NO

MODE_DEBUG=true

#repertoire qui contient les.jasper livres par l'application (celui de l'application)
#REP_BASE_JASPER_PATH=/opt/xxxxx/...../PreInscription/JRXMLS/
#REP_BASE_JASPER_PATH=a definir

#repertoire qui contient les.jasper VOTRE BASE LOCALE
#REP_BASE_JASPER_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/JRXMLS/
#REP_BASE_JASPER_PATH_LOCAL=a definir


#repertoire qui contient les.xls livres par l'application (celui de l'application)
#REP_BASE_XLS_PATH=/opt/xxxxx/...../PreInscription/XLS/
#REP_BASE_XLS_PATH=a definir

#repertoire qui contient les.xls VOTRE BASE LOCALE
#REP_BASE_XLS_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/XLS/
#REP_BASE_XLS_PATH_LOCAL=a definir

